{{results}}

<table class="table is-striped">
	<thead>
	   	<th>Arrival Time</th> 
	   	<th>Route</th>
	   	<th>Origin</th>
	   	<th>Destination</th>
	   	<th>Departing</th>
	</thead>
	<tbody>
		{{#each results}}
		<tr>
		  	<td>{{this.message}}</td>
		  	<td>{{this.route}}</td>
			<td>{{this.origin}}</td>
		  	<td>{{this.destination}}</td>
		    <td>{{this.departureduetime}}</td>
  		</tr>
		{{/each}}
	</tbody>
</table>